{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "plugin:react/recommended",
    "standard-with-typescript",
    "prettier"
  ],
  "overrides": [{
    "files": [
      "**/__tests__/**/*.+(ts|tsx|js)",
      "**/?(*.)+(spec|test).+(ts|tsx|js)"
    ],
    "extends": [
      "plugin:jest-dom/recommended",
      "plugin:testing-library/react"
    ]
  }],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "react", "jest-dom", "testing-library"],
  "rules": {
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "no-console": ["warn"],
    "no-unused-vars": ["warn"]
  },
  "ignorePatterns": [
    "vite.config.ts",
    "vitest.setup.ts"
  ]
}
